/* 基本样式 */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
}

thead {
    background-color: #343a40;
    color: white;
}

th, td {
    padding: 12px;
    text-align: left;
}

/* 斑马纹背景 */
tbody tr:nth-child(even) {
    background-color: #f8f9fa;
}

/* 响应式样式 */
@media only screen and (max-width: 600px) {
    table {
        font-size: 0.5rem;
    }
    th, td {
        box-sizing: border-box;
        text-align: center;
        padding: 8px;
    }

    tbody tr {
        margin-bottom: 12px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
    }

    tbody td:before {
        content: attr(data-label);
        font-weight: bold;
        display: block;
        margin-bottom: 5px;
    }
}
