table tr {
    border: 1px solid #dfe2e5;
    margin: 0;
    padding: 0;
}

thead,tr {
    page-break-inside: avoid;
    page-break-after: auto;
}

table tr:nth-child(2n),
thead {
    background-color: #f8f8f8;
}
thead {
    display: table-header-group;
}
table th:first-child, table td:first-child {
    margin-top: 0;
}
table tr th {
    border-bottom: 0;
}
td, th {
    padding: 0;
}
table th:first-child, table td:first-child {
    margin-top: 0;
}
table td {
    border: 1px solid #dfe2e5;
    margin: 0;
    padding: 6px 13px;
}